  
.footer {
    height:  100px;
      width: 100%;
      display: flex;
      text-align: center;
      justify-content: center;
      vertical-align: middle;
      line-height: 100px;
     
     
    }