body {
  background-color: rgb(250, 250, 250);
  font-family: "Roboto", sans-serif;
  padding:0 5%;

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
 .src{
  .source{
    color: red;
    opacity: 0.7;
      }
 }
 
}
